<nz-breadcrumb class="breadcrumb">
    <nz-breadcrumb-item>
        <a [routerLink]="['/vertical/courses/course/list']">{{'List Course' | translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        {{'Add Teacher' | translate}}
    </nz-breadcrumb-item>
</nz-breadcrumb>

<form *ngIf="loaded && !isEmpty" [formGroup]="labelForm" (ngSubmit)="submitEvent(labelForm.valid)">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
            <tc-card *ngIf="loaded">
                <tc-string-field
                    [_valueField]="fieldsData['fio']"
                    [(ngModel)]="fieldsData['fio'].value"
                    [type]="typePage"
                    [form]="labelForm"
                    [isNew]="isNew"
                    [formControlName]="'fio'"
                ></tc-string-field>
                <tc-string-field
                        [_valueField]="fieldsData['speciality']"
                        [(ngModel)]="fieldsData['speciality'].value"
                        [type]="typePage"
                        [form]="labelForm"
                        [isNew]="isNew"
                        [formControlName]="'speciality'"
                ></tc-string-field>
                <tc-text-field
                        [_valueField]="fieldsData['description']"
                        [(ngModel)]="fieldsData['description'].value"
                        [type]="typePage"
                        [form]="labelForm"
                        [isNew]="isNew"
                        [formControlName]="'description'"
                ></tc-text-field>
                <tc-text-field
                        [_valueField]="fieldsData['description_kz']"
                        [(ngModel)]="fieldsData['description_kz'].value"
                        [type]="typePage"
                        [form]="labelForm"
                        [isNew]="isNew"
                        [formControlName]="'description_kz'"
                ></tc-text-field>
                <tc-image-field
                    [_valueField]="fieldsData['avatar']"
                    [(ngModel)]="fieldsData['avatar'].value"
                    [type]="typePage"
                    [form]="labelForm"
                    [isNew]="isNew"
                    [referenceId]="referenceId"
                    [formControlName]="'avatar'"
                    [postAction]="postImage"
                    [getUrl]="getImageUrl"
                ></tc-image-field>
            </tc-card>
        </div>
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12">
            <button tc-button
                    class="mr-2"
                    [view]="'info'">
                {{'Save'|translate}}
            </button>
        </div>
    </div>
</form>
