@import '../../../../../assets/sass/variables';

:host {
  form {
    width: 100%;
  }
}

[tc-input] {
  width: 400px !important;
}

.save {
  background: #3D3DD8 !important;
  color: #fff !important;
}