@import '../../../../assets/sass/variables';

#project {

  display: flex;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-height: 1440px;
  .project-section-header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 2.2rem;
    .title {
      color: #18191f;
      flex-shrink: 0;
      font-family: Playfair Display, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: -0.07rem;
      line-height: 1.4;
    }
    .paragraph {
      color: #18191f;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1;
    }
  }

}

