<div id="project" class="col-12 d-flex">
  <div class="col-md-6">
    <div class="project-section-header" >
      <p class="title">Талап<br/>Еңбек<br/>Терең ой</p>
      <p class="paragraph" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>
    </div>
  </div>

  <div class="col-md-6" style="margin-top: -50px">
    <div style="max-height: 870px">
      <img src="assets/img/Creative%20Block.svg" alt="{{ 'logo' }}" height="inherit" width="100%" class="logo-img" >
    </div>
  </div>
</div>

<section id="overview">
  overview
</section>

<section id="course">
  course
</section>

<section id="community">community</section>

<section id="contact">contact</section>



