<div
  class="d-flex justify-content-center align-items-center flex-column"
  *ngIf="!started"
>
  <h3>{{ 'Start Quiz' | translate }}</h3>
  <button tc-button [view]="'info'" (click)="selectProgram()">
    {{ 'Start' | translate }}
  </button>
</div>
<div class="row" *ngIf="started">
  <div class="col-8">
    <tc-card>
      <div *ngIf="question">
        <div class="row">
          <div class="mt-4">
            <ng-katex-html
              *ngIf="langType == 'kz'"
              [html]="question.description ? question.description : ' '"
            ></ng-katex-html>
            <ng-katex-html
              *ngIf="langType == 'en'"
              [html]="question.descriptionEn ? question.descriptionEn : ' '"
            ></ng-katex-html>
            <ng-katex-html
              *ngIf="langType == 'ru'"
              [html]="question.descriptionRu ? question.descriptionRu : ' '"
            ></ng-katex-html>
            <!--Test-->
            <div class="variants-show mt-2" *ngIf="question.answerType == 1">
              <nz-radio-group
                nzName="radiogroup"
                [(ngModel)]="answerFill.id"
                class="mb-2"
              >
                <label
                  nz-radio
                  nzValue="{{ variantShow.id }}"
                  *ngFor="let variantShow of question.answerVariants"
                >
                  <ng-katex [equation]="variantShow.text"></ng-katex>
                </label>
              </nz-radio-group>
            </div>
            <!--Multiple-->
            <div class="variants-show mt-2" *ngIf="question.answerType == 2">
              <tc-form-group
                class="variants-input"
                *ngFor="let variantShow of question.answerVariants"
              >
                <tc-checkbox
                  class="checkbox mr-3"
                  [(ngModel)]="variantShow.isAnswer"
                ></tc-checkbox>
                <ng-katex [equation]="variantShow.text"></ng-katex>
                <!--</tc-form-group>-->
                <!--<tc-checkbox class="mb-2"-->
                <!--             *ngFor="let variantShow of question.variants">-->
                <!--    <ng-katex [equation]="variantShow.text"></ng-katex>-->
                <!--</tc-checkbox>-->
              </tc-form-group>
            </div>
            <!--Fill-->
            <div class="variants-show mt-2" *ngIf="question.answerType == 3">
              <tc-input
                [(ngModel)]="answerFill.text"
                [ngModelOptions]="{ standalone: true }"
                placeholder="Type variant of answer"
              ></tc-input>
              <!--                    <tc-input [(ngModel)]="answerFill.textRu" [ngModelOptions]="{standalone: true}" placeholder="Type variant of answer"></tc-input>-->
              <!--                    <tc-input [(ngModel)]="answerFill.textEn" [ngModelOptions]="{standalone: true}" placeholder="Type variant of answer"></tc-input>-->
              <!--[(ngModel)]="question.variants[0]"-->
              <!--[ngModelOptions]="{standalone: true}"-->
            </div>
            <!--Match-->
            <div
              class="variants-show d-flex mt-2"
              *ngIf="question.answerType == 4"
            >
              <div>
                <tc-card *ngFor="let variantShow of question.answerVariants">
                  <ng-katex [equation]="variantShow.text"></ng-katex>
                </tc-card>
              </div>
              <div
                [cdkDropListData]="question.answerRelVariants"
                cdkDropList
                (cdkDropListDropped)="
                  onDrop($event, question.answerRelVariants)
                "
              >
                <tc-card
                  *ngFor="let variantRelShow of question.answerRelVariants"
                >
                  <ng-katex [equation]="variantRelShow.text"></ng-katex>
                </tc-card>
              </div>
            </div>
            <!--Order-->
            <div
              class="variants-show mt-2"
              *ngIf="question.answerType == 5"
              [cdkDropListData]="question.answerVariants"
              cdkDropList
              (cdkDropListDropped)="onDrop($event, question.answerVariants)"
            >
              <tc-card *ngFor="let variantShow of question.answerVariants">
                <i class="icofont-drag tc-icon-wrap.mr-2"></i>
                <ng-katex [equation]="variantShow.text"></ng-katex>
              </tc-card>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button tc-button [view]="'success'" (click)="nextQuestion()">
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </tc-card>
  </div>
  <div class="col-12 col-md-4">
    <tc-card>
      <div class="d-flex div-note align-items-center">
        <i class="icofont-clock-time icofont-2x" style="margin: 5px;"></i>
        <h3 style="margin-left: 10px;">{{ 'Time' | translate }}</h3>
      </div>
      <hr />
      <div class="text-center">
        <h3 *ngIf="totalSec > -1">
          <span id="minutes">{{ minutes }}</span>
          :
          <span id="seconds">{{ seconds }}</span>
        </h3>
        <h3 *ngIf="totalSec == -1">{{ 'Finished Quiz' | translate }}</h3>
      </div>
    </tc-card>
  </div>
</div>

<ng-container #resModal>
  <ng-template #modalBody>
    <h3 class="text-center">{{ 'Finished Quiz' | translate }}</h3>
    <div class="row">
      <div class="resChart">
        <apx-chart
          [series]="[86]"
          [chart]="radialBar.chart"
          [plotOptions]="radialBar.plotOptions"
          [labels]="radialBar.labels"
          [dataLabels]="radialBar.dataLabels"
          [legend]="radialBar.legend"
          [colors]="radialBar.colors"
        ></apx-chart>
      </div>
      <div class="resText">
        <h4>
          {{ 'Results' | translate }}
        </h4>
        <h5>
          86%
          <tc-icon
            [iconClass]="'icofont-bubble-up'"
            [tcFontSize]="20"
            [tcColor]="'#28a745'"
          ></tc-icon>
          <tc-icon
            [iconClass]="'icofont-bubble-down'"
            [tcFontSize]="20"
            [tcColor]="'#dc3545'"
          ></tc-icon>
        </h5>
        <hr />
        <h4>
          {{ 'Topics to review' | translate }}
        </h4>
        <tc-list [timeline]="true">
          <tc-list-item>Topic 1</tc-list-item>
          <tc-list-item>Topic 2</tc-list-item>
          <tc-list-item>Topic 3</tc-list-item>
          <tc-list-item>Topic 4</tc-list-item>
        </tc-list>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions" [ngStyle]="{ textAlign: 'right', display: 'block' }">
      <button
        tc-button
        [view]="'default'"
        [routerLink]="['/vertical/subjects']"
        (click)="closeModal()"
      >
        {{ 'Exit' | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>
